.header {
  height: 112px;
  width: 100%;
  /* background: #014e96; */
}

.header .logo img {
  width: 170px;
}

.header .content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 15px;
}
.contactinfo p {
  color: black;
  font-weight: 800;
}
