.arrow_container::before {
  /* content: "\8592"; */
}
.slide_container {
  /* padding: 15px; */
  background: transparent;
}
.arrow_container {
  border-radius: 50%;
  background-color: transparent;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
  font-weight: 800;
  color: #fff;
  /* display: block; */
  /* font-family: revicons; */
  /* text-align: center; */
  z-index: 12;
  right: 20px;
  top: calc(50% - 40px);
  position: absolute;
}

.arrow_container_left {
  border-radius: 50%;
  background-color: transparent;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
  font-weight: 800;
  color: #fff;
  /* display: block; */
  /* font-family: revicons; */
  /* text-align: center; */
  z-index: 12;
  left: 20px;
  top: calc(50% - 40px);
  position: absolute;
}

.slide_card {
  width: 98%;
  height: auto;

  /* border: 8px solid white; */
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  background: white;

  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.slide_card img {
  width: 100%;
}

@media (max-width: 720px) {
  .slide_card {
    padding: 8px;
  }
}
