.footerwrapper {
  width: 100%;
  /* background: #0066a6; */
  /* background: #304146; */
  background: url(../../../public/images/footerBg.jpg);
  min-height: 200px;
  height: fit-content;
}

/* top left repeat */

.footer {
  height: fit-content;
  margin: auto;
  padding: 20px 0;
}
.footer .address {
  /* height: 30px; */
  padding: 0 0 15px 0;
  color: white;
  width: 100%;
  background: url(http://adamallys.com/images/footer-border-bottom.jpg) bottom
    left repeat-x;
}
.footer .address p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #676767;
  color: white;
  line-height: 16px;
  margin-top: 7px;
}
.footer .address p span {
  font-weight: bold;
  font-size: 14px;
}

.icon {
  color: #676767;
  color: white;
}

.footer .contact {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #676767;
  color: white;

  padding: 5px 18px 0 0;
}

.footer .copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #9e9e9e;
  color: white;
  margin: 7px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
}

.social_container {
  border: 2px solid #676767a6;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}

.social_container:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}
