.footerwrapper {
  width: 100%;
  background: black;
  background: url(http://adamallys.com/images/footer-bg.jpg) top left repeat;
  height: 200px;
}
.footer {
  width: 940px;
  margin: auto;
  padding: 20px 0 0 20px;
}
.footer .address {
  height: 30px;
  padding: 0 0 15px 0;
  width: 700px;
  background: url(http://adamallys.com/images/footer-border-bottom.jpg) bottom
    left repeat-x;
}
.footer .address p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #676767;
  line-height: 16px;
}
.footer .address p span {
  font-weight: bold;
  font-size: 14px;
}
